root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{php,blade.php}]
indent_style = space
indent_size = 4
quote_type = double

[{*.js,*.ts,*.jsx,*.tsx}]
indent_style = space
indent_size = 2
quote_type = double
semi = true
trailing_comma = es5

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[docker-compose.yml]
indent_style = space
indent_size = 4
